#footer{
    background-color: burlywood;
    border-radius: 25px;
    padding: 0.5rem;
    border-bottom: solid 2px;
    border-top: solid 2px;
    position: static;
    margin-top: 2rem;
    .footlinks{
        display: flex;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
    .socialmedia{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 0.5rem;
        img{
            width: 25px;
        }

    }
    .copyright{
        text-align: center;
        
    }
}