#footer{
    background-color: burlywood;
    border-radius: 25px;
    padding: 0.5rem;
    border-bottom: solid 2px;
    border-top: solid 2px;
    position: static;
    margin-top: 2rem;
    .footlinks{
        display: flex;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
    .socialmedia{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 0.5rem;
        img{
            width: 25px;
        }

    }
    .copyright{
        text-align: center;
        
    }
}
#deleteAccount{
    width: 17%;
    display: block;
    margin: auto;    
    margin-top: 1rem;

    a{
        color: lightcoral;
        text-decoration: none;
        button{
    font-weight: 800;
    
    color: lightcoral;
    background-color: transparent;    
    border: lightcoral solid;
    border-radius: 0 25px 0 25px;
    padding-right: 1rem;
    padding-left: 1rem;
    border-left: none;
    border-right: none;
    
}button:hover{
        background-color: lightcoral;
        color :black;
        border: black solid;
    }
}}