body{
    background-color: lightgrey;
}
#letreview{
    margin: auto;
    margin-top: 2rem;
    display: block;
    text-align: center;
    width: 80%;
    border-radius: 25px;
    background-color: burlywood;
    form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border: solid 3px;
        border-radius: 25px;
        padding: 2rem;
        input,select,textarea{
            width: 50%;
            margin: auto;
            border-radius: 25px;
            padding: 0.5rem;
            border: solid 3px;
        }
        textarea{
            font-weight: bold;
            padding :20px 20px;
            font-size: 100%;
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }
        button{
            width: 100px;
            border-radius: 25px;
            height: 40px;
            margin: auto;
            font-weight: bolder;
            background-color: lightcoral;
        }
        button:hover{
            background-color: lightgreen;
            box-shadow: white 0 0 10px 5px;
        }
    }
}
.action{
    margin: auto;
    text-align: center;
    font-size: 300%;
    color:burlywood;
    margin-top: 5rem;
    padding: 2rem;
    border-top: 2px solid;
    border-bottom: 2px solid;
    width: 50%;
    border-radius: 25px;
    background-color: transparentize($color: black, $amount: 0.3);

}