#navbar{
    background-color: burlywood;
    height: 3rem;
    margin-top: 3rem;
    border-radius: 25px;
    padding: 1rem;
    border-top: solid 2px;
    border-bottom: solid 2px; 
    
    //links start
    #links{
        #flexlinks{
        display: flex;
        justify-content: space-evenly;
        gap: 40%;
    .right{
        #login{
            background-color: lightgoldenrodyellow;
            border-radius: 25px;
            border: solid black 2px;
        }
        #login:hover{
            background-color: lightgreen;
        }
    }       
    .right,.left{
        display: flex;
        justify-content: space-evenly;
        width: 75%;
        a{
            padding: 1rem;
            text-decoration: none;
            color: black;
            font-weight: bold;
            transition: 0.2s;
        }
        
        a:hover{
            border-top :solid 2px;
            border-bottom :solid 2px;
            text-shadow: white 1px 1px 5px;
            text-align: center;

        }
    }
    }
        //logo start
    .logo,.logoadmin{
        border: solid 5px black;
        border-radius: 100%;
        display: block;
        margin: auto;
        text-align: center;
        padding: 2rem;
        position: relative;
        width: 7%;
        height: 7%;
        top : -6em;
        background-color: white;
        z-index: 1;
        transition: 1s;
        img{
        width: 100%; 
        display: block;
        margin: auto;
        text-align: center;      
        }
       
    } .logo:hover{
            transform: scale(1.2);
        box-shadow: black 5px 5px 15px 5px;
        }
    //logo end
    
    }
}
.resume{
    display: block;
    float: right;
    margin-right: 1rem;
    background-color: transparentize($color: white, $amount: 0.5);
    margin-top: 1rem;
    border-bottom: solid 2px;
    border-radius: 25px;
    padding: 0.5rem;
    font-weight: bold;
    button{
        background-color: black;
        color: lightcoral;
        border: solid 2px;
        padding: 0.5rem;
        border-radius: 25px;
        font-weight: bold;
        transition: 1s;

    }
    button:hover{
        background-color: lightcoral;
        color: black;
        box-shadow: lightcoral 0 0 5px 2px;
    }
}
#title{
    font-size: 300%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 7rem;
    border-bottom: solid;
}