#menu{  
    border-bottom: solid 3px;
    display: flex;
    justify-content: space-around;
    a{
        text-decoration: none;
        padding: 0.5rem;
        color: black;
        font-weight: bold;
    }
}
.card{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    margin :2rem;
    border: solid 2px;
    border-radius: 25px;
    padding: 0.5rem;
    img{
        border-radius: 25px;
        transition: 2s;
    }
    h4,p{padding: 0.5rem;}
    
}