table{
    padding: 1rem;
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;

    th{
        background-color: burlywood;
        width: 15%;
    }
    img{
        width: 100%;
    }
  
    td{
        background-color: transparentize($color: white, $amount: 0.5);
        height: 100px;
    }
    button{
        padding: 0.5rem;
        width: 65px;
        margin: 0.5rem;
        border-radius: 25px;
        font-weight: bold;
        
    }
    .btn-primary{
        background-color: lightblue;
    }
    .btn-danger{
        background-color: lightcoral;
    }
    .btn-warning{
        background-color: lightgoldenrodyellow;
    }

}