#history{
    padding: 2rem;
    margin: auto;
    width: 80%;
}

.uberuns{
    display: flex;
    margin-bottom: 2rem;
    border: solid 2px;
    padding: 2rem;
    justify-content: space-between;
    text-align: center;  
    border-radius: 25px;  
.texts{
        text-align: center;
        margin: auto;
        width: 60%;
    }
    .picture{
        width: 35%;
        img{
            width: 100%;
        }
    }
    }
