#korb{
    border: solid 2px ;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    .bill{
        background-color: white;
        width: 25%;
        height: 200px;
        border: solid 2px;
        border-radius: 25px;
        padding: 0.5rem;
        margin: auto;
        text-align: center;
    }
    .einkauf{
        width: 65%;
    }

}
#payment{
    border: solid 2px;
    border-radius: 25px;
    justify-content: space-between;
    padding: 2rem;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    form{
        display: flex;
        flex-direction: column;
        text-align: center;
        input,select,button{
            width: 25%;
            margin: auto;
        }
        
    }
}