#korb{
    border: solid 2px ;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: transparentize($color: white, $amount: 0.5);
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    .bill{
        background-color: black;
        width: 15%;
        height: 50px;
        margin-top: 50%;
        color: burlywood;
        font-size: 150%;
        font-weight: bold;
        border: solid 2px;
        border-radius: 25px;
        padding: 0.5rem;
        text-align: center;
        small{
            font-size: 60%;
        }
        
    }
    .einkauf{
        width: 75%;
        h5{
            text-align: center;
            border-bottom: solid 2px;
            padding-bottom: 0.5rem;
            font-size: 150%;
        }
        div{
            width: 100%;        
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            div{
                width: 270px;
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                margin: auto;
                border: solid 2px;
                border-collapse:collapse;
                padding: 0.3rem;
                background-color: burlywood;
                font-weight: bold;
                button{
                    border: solid 2px black;
                    border-radius: 100%;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    padding-right: 15px;
                    font-weight: bold;
                    font-size: 90%;
                    background-color: lightcoral;
                }
                button:hover{
                    background-color: black;
                    color: lightcoral;
                    box-shadow: lightcoral 0 0 10px 5px;
                }
                
            }

        }
    }
   

}
#payment{
    border: solid 2px;
    border-radius: 25px;
    justify-content: space-between;
    padding: 2rem;
    background-color: transparentize($color: white, $amount: 0.5);

    width: 80%;
    margin: auto;
    margin-top: 2rem;
    form{
        display: flex;
        flex-direction: column;
        text-align: center;
        input,select,button{
            width: 25%;
            margin: auto;
        }
        
    }
}